.main {
    max-width: 1920px;
    width: 100%;
    padding-bottom: 40px;
}

.delivery_service {
    padding: 40px 0 24px 0;
}

.block_style {
    width: 100%;
}

.app_content {
    width: 100%;
}

.section_style {
    background-color: white !important;
    width: calc(100% - (clamp(300px, 30%, 500px)));
}

.food_teaser {
    height: 256px;
    width: 100%;
    object-fit: cover;
}

.selection_teaser {
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.selection_block {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    gap: 8px;
}

.selection_example {
    border: 2px solid rgb(170, 170, 170);
    width: 100%;
}

.selection_foodimg_btn {
    gap: 24px;
}

.selection_foodimg {
    width: 224px;
    aspect-ratio: 1.5 / 1;
    object-fit: cover;
}

.selection_btn {
    padding: 0;
    margin: 0;
    height: 80px;
    aspect-ratio: 1 / 1;
    font-size: 56px;
    font-weight: bold;
    color: rgb(255, 128, 0);
    background-color: white;
    border-color: rgb(170, 170, 170);
}

.selection_btn:hover {
    cursor: pointer;
}

.price_tag {
    color: rgb(255, 128, 0);
}

.shopping_basket_section {
    margin-left: 8px;
    border: 2px solid rgb(170, 170, 170);
    width: clamp(300px, 30%, 500px);
    flex: 1;
    background-color: white;
}

.shopping_basket {
    width: 100%;
    height: 400px;
    background-color: rgb(255, 128, 0);
    position: sticky;
    top: 0;
}

