* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-size: 24px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: whitesmoke;
}

.bg_deco {
    background-color: rgba(0, 95, 106, 0.9);
}

.header_footer_line {
    box-shadow: 0 8px 0 rgba(237, 12, 169, 0.8);
}

.m_auto {
    margin: 0 auto;
}

.d_none {
    display: none
}

.img {
    border-radius: 8px;
    object-fit: cover;
}

.img:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.btn {
    border: 3px solid whitesmoke;
    border-radius: 8px;
    background-color: rgb(0, 128, 0);
    padding: 12px 48px !important;
    color: white;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.8);
    border: 3px solid rgb(90, 90, 91);
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.text_input_field {
    width: 100%;
    margin-bottom: 24px;
    color: rgb(0, 0, 0);
}

form {
    border-radius: 8px;
    background: #EFEFEF;
    padding: 4%;
    width: 100%;
    filter: drop-shadow(0px 0px 16px rgba(0, 40, 44, 0.8));
}

.h2_form {
    color: black;
}

.btn_form {
    max-width: 200px;
    margin-left: calc(50% - 100px);
    text-align: center;
    padding: 12px 40px;
}

@media(min-width: 1920px) {
    form {
        width: 1100px;
    }
}

@media(max-width: 1920px) {
    .h2_form {
        padding-top: 16px;
        padding-bottom: 32px;
    }
}

@media(max-width: 1600px) {
    * {
        font-size: 22px;
    }
}

@media(max-width: 1450px) {
    * {
        font-size: 20px;
    }
}

@media(max-width: 800px) {
    * {
        font-size: 18px;
    }

    form {
        width: 100% !important;
    }

    .h2_form {
        font-size: 24px;
        padding-bottom: 16px;
    }

    .text_input_field {
        margin-bottom: 16px;
    }
}

@media(max-width: 520px) {
    * {
        font-size: 16px;
    }

    .h2_form {
        font-size: 22px;
        padding-top: 8px;
        padding-bottom: 0;
    }

    .btn_form {
        padding: 8px 24px;
        margin-left: calc(50%-24px);
    }

    form {
        padding: 7%;
    }

    .text_input_field {
        margin-bottom: 8px;
    }
}

@media(max-width: 450px) {
    .btn_form {
        display: flex;
        justify-content: center;
        font-size: 16px;
        padding: 4px 0 4px 0;
    }
}

@media (max-width: 360px) {
    * {
        font-size: 14px;
    }
}